<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
        <c-card-header>
          <strong>Formulario de productos</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
              <div class="mb-3">
                <label cLabel for="producto">Nombre Producto</label>
                <input cFormControl
                       id="producto"
                       placeholder="ingrese producto"
                       [(ngModel)] = "productoModelo.nombreproducto"
                       type="text"
                       name="nombreproducto"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="descripcion">Descripcion</label>
                <input cFormControl
                       id="descripcion"
                       placeholder="describa el producto"
                       type="text"
                       name="descripcion"
                       [(ngModel)] = "productoModelo.descripcion"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="cantidades">Cantidades</label>
                <input cFormControl
                       id="cantidades"
                       placeholder="asigne las cantidades"
                       type="number"
                       name="cantidades"
                       [(ngModel)] = "productoModelo.cantidades"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="precio">Precio</label>
                <input cFormControl
                       id="precio"
                       placeholder="asigne un precio"
                       type="number"
                       name="precio"
                       [(ngModel)] = "productoModelo.precio"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="usuario">Usuario</label>
                <input cFormControl
                       id="usuario"
                       type="text"
                       name="usuario"
                       [(ngModel)] = "productoModelo.usuario"
                />
              
                <!-- <select [(ngModel)] = "productoModelo.usuario" aria-label="Seleccione un usuario" cSelect>
                  <option></option>
                  <option value="664c32d2b18668228b222b2d">Marco</option>
                  <option value="2">Carlos</option>
                  <option value="3">Miguel</option>
                </select> -->
              </div>
              <button (click)="guardarProducto()" class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <table cTable>
        <thead cTableColor="dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidades</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
            @for (producto of listaProductos; track producto;){
              <tr>
                <th scope="row">1</th>
                <td>{{producto.nombreproducto}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.cantidades}}</td>
                <td>{{producto.precio}}</td>
                <td>
                  <button cButton color="warning" shape="rounded-pill" (click)="verProducto(producto)">Editar</button>
                  <button (click)="eliminarProducto(producto)" cButton color="danger" shape="rounded-pill">Eliminar</button></td>
              </tr>
            }
          
          
          </tbody>
          
      </table>
    </c-col>
</c-row>